#banner{
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../../resources/images/banner.png');
    background-size: cover;
    color: #fff;
}
.banner-container{
    height: 150px;
    width: 570px;
}